page-apostilas {
    .corpo {
        background-color: #202020;    
    }
    ion-card {
        position: relative;
        top: -15%;
        margin-left:0 !important;
        margin-right:0 !important;
        margin-top:0 !important;
        width:100% !important;
      }
}
